.square {
    width: 100px;
    height: 100px;
  }

  .piece {
    color: grey;
    font-size: 50px;
    text-align: center;
  }

  .border-left {
    width: 50px;
    height: 50px;
    text-align: center;
  }

  .border-bottom {
    height: 50px;
    text-align: center;
  }